body {
    --brand: #1463fa;
    --brand-font-color: #ffffff;
}

body[data-theme="light"] {
    --background: #ffffff;
    --background-font-color: #1A1919;
    --background-secondary-font-color: #9a9daa;
    --error-font-color: #ff2e2f;
    --border-color: #e4e4e7;
    --placeholder-font-color: #bebebe;
    --input-background: #fafafa;
}
