@use '../../../abstracts/colors' as colors;
@use '../../../abstracts/mixins' as mixins;

@use '../card/card';

$card-max-width: 380px;
$card-max-height: 170px;

div.card.brief-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  max-width: $card-max-width;
  max-height: $card-max-height;
  
  & > div.text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > span {
      @include mixins.font('title');
    }

    & > .card-content {
      display: flex;
      flex-direction: column;

      & > span {
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 600;
        letter-spacing: 0.06rem;
        color: colors.$background-font-color;
      }

      & > p {
        margin-bottom: 0.3rem;
        @include mixins.font('content', colors.$background-secondary-font-color);

        & > span {
          box-sizing: border-box;
          margin: 0 12px 0 1px;
          padding: 0.3rem 0.6rem;
          border-radius: 1.2rem;
          font-weight: 500;
          
          &.up {
            color: colors.$success-background;
            background-color: colors.$success-background;
          }

          &.down {
            color: colors.$error-font-color;
            background-color: colors.$error-background;
          }
        }
      }
    }
  }

  & > div.graph-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 134px;

    & > .graph {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row; 
      height: 62px;
      margin-bottom: 0.6rem;

      & > .bar {
        height: 100%;
        width: 14px;
        border-radius: 3px;
        background-color: colors.$brand;
      }
    }
  }
}
