<div class="card brief-card">
  <div class="text-container">
    <span>Card title</span>
    <div class="card-content">
      <span>9427</span>
      <p><span class="down">↓ 10%</span> Vs last month</p>
      <!-- <p><span class="up">↑ 10%</span> Vs last month</p> -->
    </div>
  </div>
  <div class="graph-container">
    <div class="graph">
      <!-- max-height - [5, 100] -->
      <div class="bar" style="max-height: 5%;"></div>
      <div class="bar" style="max-height: 33%;"></div>
      <div class="bar" style="max-height: 63%;"></div>
      <div class="bar" style="max-height: 77%;"></div>
      <div class="bar" style="max-height: 100%;"></div>
      <div class="bar" style="max-height: 90%;"></div>
    </div>
  </div>
</div>
