@import "../../variables";

@import "../../mixins/responsive";

.form-dialog {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid $border;
  background-color: $bg;
  box-sizing: border-box;

  & > h1 {
    @include font-properties("content-title");
    font-weight: weight("medium");
    color: $bg-font-color;
  }

  & > form {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  @include responsive($xs) {
    width: 100%;
    border: unset;

    & > form {
      width: 100%;
    }
  }
}
