@import "../../variables";

.form-dialog {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  box-shadow: $dialog-box-shadow;
  background-color: $bg;

  h1 {
    @include font-properties("h1");
    font-weight: weight("medium");
    color: $bg-font-color;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
}
