$fonts: (
  "brand": (
    size: 1.6rem,
    height: 2rem
  ),
  "h1": (
    size: 1.25rem,
    height: 1.5rem
  ),
  "default": (
    size: 0.9375rem,
    height: 1.25rem
  ),
);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$brand: #1463fa;
$brand-font-color: #ffffff;

$bg: #ffffff;
$bg-font-color: #1A1919;
$bg-secondary-font-color: #9a9daa;

$input-bg: #fafafa;
$input-placeholder-font-color: #bebebe;
$input-focus-box-shadow: inset 0px 0px 0px 1px $brand, 0px 4px 8px rgb(0 70 230 / 15%);
$error-font-color: #ff2e2f;

$dialog-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02), 0px 0px 0px 1px rgba(25, 28, 33, 0.08);
$border: #e4e4e7;

$lg: 1352px;
$md: 979px;
$sm: 767px;
$xs: 480px;
$xxs: 319px;

@mixin font-properties($font) {
  font-size: map-get(map-get($fonts, $font), size);
  line-height: map-get(map-get($fonts, $font), height);
}

@function weight($weight) {
  @return map-get($font-weights, $weight);
}
