@import "reset";
@import "base";
@import "variables";

@import "mixins/responsive";

@import "components/navbar/navbar";
@import "components/brand/brand";
@import "components/form-dialog/form-dialog";
@import "components/form-input/form-input";
@import "components/checkbox/checkbox";
@import "components/link/link";
@import "components/submit-button/submit-button";
@import "components/loader/loader";

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splitted-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &__input-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.terms-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  box-sizing: content-box;

  @include responsive($xxs) {
    margin-bottom: 38px;
  }
}

label[for="terms"] {
  font-weight: weight("medium");

  &.error {
    margin-top: -2px;
  }
}

.submit-button {
  margin-top: 14px;
}

.dialog-footer {
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  @include font-properties("content-default");
  font-weight: weight("medium");
  color: $bg-secondary-font-color;
}
