@use '../../../abstracts/colors' as colors;

$card-padding: 20px;
$card-border-radius: 20px;

.card {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: $card-padding;
  border-radius: $card-border-radius;
  border: 1px solid colors.$border;
  background-color: colors.$background;
}
