@import "../variables";

@mixin placeholder($font-size: 1rem, $font-weight: 500) {
  &::placeholder
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    opacity: 1;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: 0.05rem;
    color: $input-placeholder-font-color;
  }
}
