$brand: #1463fa;
$brand-font-color: #ffffff;

$background: #ffffff;
$background-font-color: #000000;
$background-secondary-font-color: #9a9daa;

$input-background: #fafafa;
$input-placeholder-font-color: #bebebe;

$error-font-color: #ff2e2f;
$border: #dedede;
